.section1 {
  background: var(--theme);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.section1 h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  color: var(--white);
}

.section1 p {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--white);
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}

.section1 .badges {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.section1 .badges img {
  margin: 0 4px;
}

.section1 .links {
  margin-top: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.section1 .links a {
  background-color: var(--black);
  text-decoration: none;
  text-align: center;
  color: var(--white);
  padding: 6px;
  border-radius: 4px;
  margin: 0 4px;
  width: 100%;
  max-width: 200px;
  transition: opacity 0.7s ease-in;
}

.section1 .links a:hover {
  opacity: 0.9;
  transition: opacity 0.7s ease-in;
}
