@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap");

/* === Geral === */

:root {
  --theme: #ffcc00;
  --theme2: #b309a6;
  --white: #eee;
  --black: #0a0a0a;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/* === Header === */
.header {
  background: linear-gradient(45deg, #d4aa00, var(--theme));
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 24px;
}

.header h1 {
  font-family: "Bebas Neue", cursive;
  letter-spacing: 0.5rem;
  font-size: 3rem;
  color: var(--black);
}

.header p {
  text-transform: uppercase;
  color: var(--black);
  font-weight: 600;
  margin-top: 8px;
  text-align: center;
}

.header .badges {
  margin-top: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.header .badges img {
  margin: 0 4px;
}

.header .links {
  margin-top: 24px;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.header .links a {
  background-color: var(--black);
  text-decoration: none;
  text-align: center;
  color: var(--white);
  padding: 6px;
  border-radius: 4px;
  margin: 0 4px;
  width: 100%;
  max-width: 200px;
}

.header .links a:hover {
  opacity: 0.9;
}

/* === Docs === */
.docs .col-2 {
  background-color: var(--theme2);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: var(--white);
  padding: 32px;
}

.docs .col-2 div {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.docs .col-2 h1 {
  letter-spacing: 0.2rem;
  font-size: 2.2rem;
}

.docs .col-2 p {
  margin-top: 24px;
  width: 100%;
  max-width: 400px;
}

.docs .col-2 a {
  color: var(--white);
  font-weight: 800;
}

.docs .col-2 .code {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 24px auto;
}

.docs .col-2 .code pre {
  background-color: var(--black);
  overflow: auto;
  width: 100%;
  padding: 12px;
  border-radius: 4px 0 4px 4px;
}

.docs .col-2 .code button {
  position: absolute;
  top: -24px;
  right: 0;
  z-index: 2;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: #333333;
  border-radius: 2px 2px 0 2px;
  padding: 6px;
  border: none;
  color: var(--white);
}

.docs .col-2 .code button:hover {
  opacity: 0.9;
}

.docs .col-2 .code button img {
  width: 16px;
  margin-left: 8px;
}

/* === Responsive === */
@media (max-width: 940px) {
  .docs .col-2 {
    flex-direction: column;
  }
  .docs .col-2 div {
    width: 100%;
  }
  .docs .col-2 div:nth-child(2) {
    margin-top: 24px;
  }
}

@media (max-width: 640px) {
  .header .links {
    flex-direction: column;
  }
  .header .links a {
    margin: 4px 0;
  }
  .header .badges img {
    margin: 4px 4px;
  }
}

@media (max-width: 530px) {
  .slider-control {
    display: none !important;
  }
  .docs .col-2 .code {
    max-width: 300px;
  }
}
