@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Maven+Pro:wght@400;500;600&display=swap");

:root {
  --padding: 24px;
  --blue-primary: #002336;
  --blue-secondary: #005d8f;
  --white: #eee;
  --black: #444;
  --box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
  --border: 1px solid rgba(0, 0, 0, 0.2);
  --radius: 8px;
  --gradient: linear-gradient(
    to right,
    var(--blue-primary),
    var(--blue-secondary)
  );
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Maven Pro", sans-serif;
}

/* === SECTION 1 === */
header {
  background: url(./images/background1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

header h1 {
  text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.4);
  color: var(--white);
  font-size: 4rem;
}

header .description {
  color: var(--white);
  font-weight: 600;
  font-size: 1.8rem;
  margin-top: 18px;
  position: relative;
  text-align: center;
}

header .links {
  margin: 32px;
}

header .links a {
  background-color: var(--white);
  color: var(--black);
  text-decoration: none;
  padding: 12px 32px;
  border-radius: 8px;
  font-weight: 500;
  transition: background-color 0.7s ease-in;
}

header .links a:hover {
  background-color: #fff;
  transition: background-color 0.7s ease-in;
}

header .attr {
  position: absolute;
  bottom: 24px;
  text-align: center;
  padding: 0 24px;
}

header .attr span {
  color: var(--white);
}

header .attr a {
  color: var(--white);
  font-weight: 500;
}

/* === Responsive === */
@media (max-width: 640px) {
  .section1 .links {
    flex-direction: column;
  }
  .section1 .links a {
    margin: 4px 0;
  }
  .section1 .badges img {
    margin: 4px 4px;
  }
}

@media (max-width: 460px) {
  header h1 {
    font-size: 3.5rem;
  }
  header .description {
    font-size: 1.4rem;
  }
}
